version: 2
updates:
  - package-ecosystem: composer
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
  - package-ecosystem: npm
    directory: /e2e
    schedule:
      interval: monthly
