includes:
  - phpstan-baseline.neon

parameters:
  level: 0
  paths:
    - src
  scanFiles:
    - vendor/hamidionline/joomla-stubs/stubs.php
  scanDirectories:
    - vendor/joomla/joomla-cms/administrator/includes
    - vendor/joomla/joomla-cms/includes
    - vendor/joomla/joomla-cms/libraries
  ignoreErrors:
    # joomla stubs
    - '#Class j[a-zA-Z]+ referenced with incorrect case\: J[a-zA-Z]+#'
  tmpDir: tmp
