parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/externallogin.php

		-
			message: '#^Access to protected property Joomla\\CMS\\Menu\\MenuItem\:\:\$params\.$#'
			identifier: property.protected
			count: 2
			path: src/administrator/components/com_externallogin/helpers/externallogin.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getConfig\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/helpers/externallogin.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/helpers/externallogin.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/helpers/externallogin.php

		-
			message: '''
				#^Call to method triggerEvent\(\) of deprecated interface Joomla\\CMS\\Application\\EventAwareInterface\:
				4\.3 will be removed in 7\.0
				             This interface will be removed without replacement as the Joomla 3\.x compatibility layer will be removed$#
			'''
			identifier: method.deprecatedInterface
			count: 1
			path: src/administrator/components/com_externallogin/helpers/externallogin.php

		-
			message: '#^Call to protected method bootComponent\(\) of class Joomla\\CMS\\MVC\\Model\\BaseDatabaseModel\.$#'
			identifier: method.protected
			count: 1
			path: src/administrator/components/com_externallogin/helpers/externallogin.php

		-
			message: '#^Property Joomla\\CMS\\Log\\LogEntry\:\:\$date \(Joomla\\CMS\\Date\\Date\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/administrator/components/com_externallogin/log/logger.php

		-
			message: '#^Property Joomla\\CMS\\Log\\Logger\\DatabaseLogger\:\:\$db \(Joomla\\Database\\DatabaseDriver\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/administrator/components/com_externallogin/log/logger.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getConfig\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/models/download.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getConfig\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/models/logs.php

		-
			message: '''
				#^Call to method triggerEvent\(\) of deprecated interface Joomla\\CMS\\Application\\EventAwareInterface\:
				4\.3 will be removed in 7\.0
				             This interface will be removed without replacement as the Joomla 3\.x compatibility layer will be removed$#
			'''
			identifier: method.deprecatedInterface
			count: 1
			path: src/administrator/components/com_externallogin/models/plugins.php

		-
			message: '#^Access to an undefined property ExternalloginModelServer\:\:\$_db\.$#'
			identifier: property.notFound
			count: 8
			path: src/administrator/components/com_externallogin/models/server.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getUserState\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/models/server.php

		-
			message: '#^Variable \$form in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/administrator/components/com_externallogin/models/server.php

		-
			message: '#^Variable \$form in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/administrator/components/com_externallogin/models/upload.php

		-
			message: '#^Access to an undefined property ExternalloginModelUser\:\:\$_db\.$#'
			identifier: property.notFound
			count: 30
			path: src/administrator/components/com_externallogin/models/user.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/components/com_externallogin/views/about/tmpl/default.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/about/view.html.php

		-
			message: '''
				#^Call to deprecated method getErrors\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				3\.1\.4 will be removed in 7\.0
				             Will be removed without replacement
				             Catch thrown Exceptions instead of getErrors$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/administrator/components/com_externallogin/views/download/view.csv.php

		-
			message: '''
				#^Call to method get\(\) of deprecated class Joomla\\CMS\\Object\\CMSObject\:
				4\.3 will be removed in 6\.0
				             Use \\stdClass or \\Joomla\\Registry\\Registry instead\.
				             Example\: new \\Joomla\\Registry\\Registry\(\);$#
			'''
			identifier: method.deprecatedClass
			count: 4
			path: src/administrator/components/com_externallogin/views/logs/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 7
			path: src/administrator/components/com_externallogin/views/logs/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: src/administrator/components/com_externallogin/views/logs/tmpl/default_body.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: src/administrator/components/com_externallogin/views/logs/tmpl/default_filter.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/components/com_externallogin/views/logs/tmpl/default_foot.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: src/administrator/components/com_externallogin/views/logs/tmpl/default_head.php

		-
			message: '''
				#^Call to deprecated method getErrors\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				3\.1\.4 will be removed in 7\.0
				             Will be removed without replacement
				             Catch thrown Exceptions instead of getErrors$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/administrator/components/com_externallogin/views/logs/view.csv.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/logs/view.html.php

		-
			message: '''
				#^Call to method get\(\) of deprecated class Joomla\\CMS\\Object\\CMSObject\:
				4\.3 will be removed in 6\.0
				             Use \\stdClass or \\Joomla\\Registry\\Registry instead\.
				             Example\: new \\Joomla\\Registry\\Registry\(\);$#
			'''
			identifier: method.deprecatedClass
			count: 2
			path: src/administrator/components/com_externallogin/views/logs/view.html.php

		-
			message: '''
				#^Call to deprecated method getErrors\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				3\.1\.4 will be removed in 7\.0
				             Will be removed without replacement
				             Catch thrown Exceptions instead of getErrors$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/administrator/components/com_externallogin/views/plugins/view.html.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: src/administrator/components/com_externallogin/views/server/tmpl/edit.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/server/view.html.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default_body.php

		-
			message: '#^Variable \$userId might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default_body.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default_filter.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default_foot.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: src/administrator/components/com_externallogin/views/servers/tmpl/default_head.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: src/administrator/components/com_externallogin/views/servers/tmpl/modal.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: src/administrator/components/com_externallogin/views/servers/tmpl/modal_body.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: src/administrator/components/com_externallogin/views/servers/tmpl/modal_filter.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/components/com_externallogin/views/servers/tmpl/modal_foot.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: src/administrator/components/com_externallogin/views/servers/tmpl/modal_head.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/servers/view.html.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/success/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: src/administrator/components/com_externallogin/views/upload/tmpl/default.php

		-
			message: '''
				#^Call to deprecated method getErrors\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				3\.1\.4 will be removed in 7\.0
				             Will be removed without replacement
				             Catch thrown Exceptions instead of getErrors$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/administrator/components/com_externallogin/views/upload/view.html.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: src/administrator/components/com_externallogin/views/users/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 7
			path: src/administrator/components/com_externallogin/views/users/tmpl/default_body.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: src/administrator/components/com_externallogin/views/users/tmpl/default_filter.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/components/com_externallogin/views/users/tmpl/default_foot.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: src/administrator/components/com_externallogin/views/users/tmpl/default_head.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/components/com_externallogin/views/users/view.html.php

		-
			message: '#^Call to an undefined method ExternalloginModelServers\:\:createModel\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/helper.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/helper.php

		-
			message: '''
				#^Call to method triggerEvent\(\) of deprecated interface Joomla\\CMS\\Application\\EventAwareInterface\:
				4\.3 will be removed in 7\.0
				             This interface will be removed without replacement as the Joomla 3\.x compatibility layer will be removed$#
			'''
			identifier: method.deprecatedInterface
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/helper.php

		-
			message: '#^Variable \$params might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/administrator/modules/mod_externallogin_admin/mod_externallogin_admin.php

		-
			message: '#^Variable \$servers might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/administrator/modules/mod_externallogin_admin/tmpl/alone.php

		-
			message: '#^Variable \$count might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/tmpl/default.php

		-
			message: '#^Variable \$enabled might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/tmpl/default.php

		-
			message: '#^Variable \$params might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/tmpl/default.php

		-
			message: '#^Variable \$module might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: src/administrator/modules/mod_externallogin_admin/tmpl/form.php

		-
			message: '#^Variable \$servers might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/administrator/modules/mod_externallogin_admin/tmpl/form.php

		-
			message: '#^Variable \$module might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/administrator/modules/mod_externallogin_admin/tmpl/title.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/components/com_externallogin/externallogin.php

		-
			message: '#^Constant JPATH_COMPONENT_ADMINISTRATOR not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/components/com_externallogin/externallogin.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/components/com_externallogin/views/login/tmpl/default.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 16
			path: src/components/com_externallogin/views/login/tmpl/default_login.php

		-
			message: '#^Function trim invoked with 3 parameters, 1\-2 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/components/com_externallogin/views/login/tmpl/default_logout.php

		-
			message: '#^Variable \$this might not be defined\.$#'
			identifier: variable.undefined
			count: 16
			path: src/components/com_externallogin/views/login/tmpl/default_logout.php

		-
			message: '''
				#^Call to deprecated method getErrors\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				3\.1\.4 will be removed in 7\.0
				             Will be removed without replacement
				             Catch thrown Exceptions instead of getErrors$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/components/com_externallogin/views/login/view.html.php

		-
			message: '''
				#^Call to deprecated method getErrors\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				3\.1\.4 will be removed in 7\.0
				             Will be removed without replacement
				             Catch thrown Exceptions instead of getErrors$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/components/com_externallogin/views/server/view.html.php

		-
			message: '#^Access to protected property Joomla\\CMS\\Component\\ComponentRecord\:\:\$params\.$#'
			identifier: property.protected
			count: 1
			path: src/modules/mod_externallogin_site/helper.php

		-
			message: '#^Call to an undefined method ExternalloginModelServers\:\:createModel\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/modules/mod_externallogin_site/helper.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/modules/mod_externallogin_site/helper.php

		-
			message: '#^Variable \$params might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: src/modules/mod_externallogin_site/mod_externallogin_site.php

		-
			message: '#^Variable \$params might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/modules/mod_externallogin_site/tmpl/alone.php

		-
			message: '#^Variable \$servers might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/modules/mod_externallogin_site/tmpl/alone.php

		-
			message: '#^Variable \$count might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/modules/mod_externallogin_site/tmpl/default.php

		-
			message: '#^Variable \$enabled might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/modules/mod_externallogin_site/tmpl/default.php

		-
			message: '#^Variable \$params might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: src/modules/mod_externallogin_site/tmpl/default.php

		-
			message: '#^Variable \$module might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: src/modules/mod_externallogin_site/tmpl/form.php

		-
			message: '#^Variable \$servers might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/modules/mod_externallogin_site/tmpl/form.php

		-
			message: '#^Variable \$params might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: src/modules/mod_externallogin_site/tmpl/logout.php

		-
			message: '#^Variable \$return might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/modules/mod_externallogin_site/tmpl/logout.php

		-
			message: '#^Variable \$user might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/modules/mod_externallogin_site/tmpl/logout.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$server\.$#'
			identifier: property.notFound
			count: 9
			path: src/plugins/authentication/externallogin/externallogin.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$subtype\.$#'
			identifier: property.notFound
			count: 1
			path: src/plugins/authentication/externallogin/externallogin.php

		-
			message: '''
				#^Call to method triggerEvent\(\) of deprecated interface Joomla\\CMS\\Application\\EventAwareInterface\:
				4\.3 will be removed in 7\.0
				             This interface will be removed without replacement as the Joomla 3\.x compatibility layer will be removed$#
			'''
			identifier: method.deprecatedInterface
			count: 1
			path: src/plugins/authentication/externallogin/externallogin.php

		-
			message: '#^Parameter \#1 \$config of method Joomla\\CMS\\Plugin\\CMSPlugin\:\:__construct\(\) expects array, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/plugins/authentication/externallogin/externallogin.php

		-
			message: '#^Property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$status \(string\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/plugins/authentication/externallogin/externallogin.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Application\\CMSApplicationInterface\:\:\$input\.$#'
			identifier: property.notFound
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$groups\.$#'
			identifier: property.notFound
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$server\.$#'
			identifier: property.notFound
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '''
				#^Call to deprecated method getInstance\(\) of class Joomla\\CMS\\MVC\\Model\\BaseModel\:
				4\.3 will be removed in 6\.0
				             Will be removed without replacement\. Get the model through the MVCFactory instead
				             Example\: Factory\:\:getApplication\(\)\-\>bootComponent\('com_xxx'\)\-\>getMVCFactory\(\)\-\>createModel\(\$type, \$prefix, \$config\);$#
			'''
			identifier: staticMethod.deprecated
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '''
				#^Call to deprecated method getInstance\(\) of class Joomla\\CMS\\Table\\Table\:
				4\.3 will be removed in 6\.0
				             Use the MvcFactory instead
				             Example\: Factory\:\:getApplication\(\)\-\>bootComponent\('\.\.\.'\)\-\>getMVCFactory\(\)\-\>createTable\(\$name, \$prefix, \$config\);$#
			'''
			identifier: staticMethod.deprecated
			count: 2
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Instanceof between Joomla\\CMS\\Form\\Form and Joomla\\CMS\\Form\\Form will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Parameter \#1 \$config of method Joomla\\CMS\\Plugin\\CMSPlugin\:\:__construct\(\) expects array, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Property Joomla\\CMS\\Authentication\\AuthenticationResponse\:\:\$status \(string\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Property PlgSystemCaslogin\:\:\$success \(DOMNode\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Variable \$return in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '#^Variable \$serverID in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/plugins/system/caslogin/caslogin.php

		-
			message: '''
				#^Call to deprecated method getInstance\(\) of class Joomla\\CMS\\Table\\Table\:
				4\.3 will be removed in 6\.0
				             Use the MvcFactory instead
				             Example\: Factory\:\:getApplication\(\)\-\>bootComponent\('\.\.\.'\)\-\>getMVCFactory\(\)\-\>createTable\(\$name, \$prefix, \$config\);$#
			'''
			identifier: staticMethod.deprecated
			count: 2
			path: src/plugins/system/externallogin/externallogin.php

		-
			message: '''
				#^Call to deprecated method getRouter\(\) of class Joomla\\CMS\\Application\\CMSApplication\:
				4\.3 will be removed in 6\.0
				             Inject the router or load it from the dependency injection container
				             Example\: Factory\:\:getContainer\(\)\-\>get\(\$name\);$#
			'''
			identifier: staticMethod.deprecated
			count: 1
			path: src/plugins/system/externallogin/externallogin.php

		-
			message: '#^Parameter \#1 \$config of method Joomla\\CMS\\Plugin\\CMSPlugin\:\:__construct\(\) expects array, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/plugins/system/externallogin/externallogin.php

		-
			message: '#^Parameter \#1 \$config of method Joomla\\CMS\\Plugin\\CMSPlugin\:\:__construct\(\) expects array, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/plugins/user/cbexternallogin/cbexternallogin.php
