name: Label Check

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]

permissions:
  contents: read
  pull-requests: write

jobs:
  validate:
    name: Auto Label and Validate
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Apply labels
        uses: actions/labeler@v5

      - name: Check labels
        uses: mheap/github-action-required-labels@v5
        with:
          mode: minimum
          count: 1
          labels: breaking,feature,enhancement,bug,refactor,chore,dependencies,github_actions,samples,documentation
