name: Linting Shell script

on:
  pull_request:
      branches:
      - main
      paths:
      - '**.sh'
      - '.github/workflows/lint-shell.yml'
  # Allow manually triggering the workflow.
  workflow_dispatch:
  
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Lint shell script
        uses: reviewdog/action-shellcheck@v1
