name: 'Linting XML'

on:
  push:
    branches:
      - 3.2.x
    paths:
      - '**.xml'
  pull_request:
    branches:
      - 3.2.x
    paths:
      - '**.xml'
  # Allow manually triggering the workflow.
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up xmllint
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - name: Linting XML files
        run: 'find . -type f -iname "*.xml" | xargs xmllint --noout'
