name: Linting Dockerfile

on:
  push:
      branches:
      - main
      paths:
      - '**/Dockerfile'
  pull_request:
      branches:
      - main
      paths:
      - '**/Dockerfile'
  # Allow manually triggering the workflow.
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Lint Dockerfile
        uses: reviewdog/action-hadolint@v1
