name: 'Linting XML'

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.xml'
      - '.github/workflows/lint-xml.yml'
  # Allow manually triggering the workflow.
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up xmllint
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - name: Linting XML files
        run: 'find . -type f -iname "*.xml" | xargs xmllint --noout'
