name: Linting Markdown

on:
  push:
      branches:
      - main
      paths:
      - '**.md'
  pull_request:
      branches:
      - main
      paths:
      - '**.md'
  # Allow manually triggering the workflow.
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'
