name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Bundle extension
        run: ./bundle.sh
      - name: Pre-release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') && (contains(github.ref,'dev') || contains(github.ref,'beta') || contains(github.ref,'alpha') || contains(github.ref,'rc'))
        with:
          prerelease: true
          generate_release_notes: true
          files: |
            dist/pkg_externallogin.zip
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') && !(contains(github.ref,'dev') || contains(github.ref,'beta') || contains(github.ref,'alpha') || contains(github.ref,'rc'))
        with:
          generate_release_notes: true
          files: |
            dist/pkg_externallogin.zip
